@import './common/reset.css';

ul{
    position: fixed;
    bottom: 0;
    left: 0;
    height: 60px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  ul li{
    border-top: 1px #ccc solid;
    width: 25%;
    height: 60px;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  ul li a{
    text-decoration: none;
    font-size: 14px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #000;
  }
  ul li a i {
    font-size: 20px !important; 
  }
  .router-link-active{
    color: orange;
    background: #fff;
  }